@{
  Layout = "_Layout";
}

<h1>Welcome to Dr Silly Stringz's Factory Machine Repair Tracker!</h1>
<br>
<br>
<br>
<p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>
<br>
<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p>