@{
  Layout = "_Layout";
}

@model Factory.Models.EngineerMachine
@using Factory.Models

<h2>Remove a Machine</h2>
<br>
<br>
<h4>Remove a Machine from this Engineer</h4>
<br>
<h4>@Html.Label($"{ViewBag.Machine.MachineName} from {ViewBag.Engineer.EngineerName}")</h4>
@using (Html.BeginForm())
{
  <h5>Confirm Removal</h5>
  <input type="submit" value="Save" />
}
<br>
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>