@{
  Layout = "_Layout";
}

@model Silly_Factory.Models.Engineer

<h2>Are you sure you want to delete this Engineer?</h2>
<br>
<br>
@using (Html.BeginForm())
{
  <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<br>
<br>
  <input type="submit" value="Delete" />
}
<br>
<br>
<br>
<p>@Html.ActionLink("Engineers", "Index")</p>
<p>@Html.ActionLink("Machines", "Index", "Machines")</p>