@{
  Layout = "_Layout";
}

<h1>Welcome to Dr Silly Stringz's Factory Machine Repair Tracker!</h1>
<br>
<br>
<br>
<p>@Html.ActionLink("Engineers", "Index", "Engineers")</p>
<br>
<p>@Html.ActionLink("Machines", "Index", "Machines")</p>
<br>
<p>@Html.ActionLink("Show All", "Details")</p>